.main-cream-paper-panel {
  display: block;
  width: 100%;
  max-width: 1536px;
  aspect-ratio: 3 / 2;
  background-image: url("../../../assets/ui/main-cream-paper-panel/main-cream-paper-panel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-cream-paper-panel__image {
  display: block;
  width: 100%;
  height: auto;
}
